.memo-button {
    display: flex;
    height: 3.5rem;
    width: 10rem;
    padding: 0;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex: 1 0 0;
    border-radius: 0.5rem;
    border: 1px solid #23213D;
    background: #23213D;
    color: white;
    cursor: pointer;
}

.memo-button:hover {
    opacity: 0.8;
}

.memo-button--primary {
    border: 1px solid #23213D;
    background: #23213D;
}

.memo-button--secondary {
    border: 1px solid #FE3756;
    background: #FE3756;
}

.memo-button--tertiary {
    border: 1px solid #E12B1B;
    background: #E12B1B;
}